table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
}
th {
    text-align: center;
}

td {
    width: 500px;
}
body {
    text-align: center;
}

.card {
    border: none;
}


a {
    color:mediumslateblue;
}

.active {
    background-color:mediumslateblue;
    color: white;
    
}


button {
    color: mediumslateblue;
    background-color: white;
    border: none;
}

button:hover {
    color: cornflowerblue;
}

a:hover:not(.active, .nav-item) {
    color:cornflowerblue;
}

.nav-item:hover {
    background-color:mediumslateblue;
    color: white;
}

.active:hover {
    color: white;
}

.title {
    background-color: mediumslateblue;
    color: white;
    width: 1000px;
}

h5 {
    color: mediumslateblue;
}

img {
    width: 200px;
}

h2 {
    text-align: left;
    padding-bottom: 2rem;
}

