table:not(.to-do-list) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1500px;
    height: 60vh;
}
th {
    text-align: center;
}

td {
    width: 500px;
}
body {
    text-align: center;
}

.card {
    border: none;
}


a:not(button) {
    color:mediumslateblue;
}

.active {
    background-color:mediumslateblue;
    color: white;
    
}


button:not(#new-habit-btn) {
    color: mediumslateblue;
    background-color: white;
    border: none;
}

button:hover {
    color: cornflowerblue;
}

a:hover:not(.active, .nav-item) {
    color:cornflowerblue;
}

.nav-item:hover {
    background-color:mediumslateblue;
    color: white;
}

.active:hover {
    color: white;
}

.title {
    background-color: mediumslateblue;
    color: white;
    width: 1500px;
    margin: auto;
    margin-top: 2rem;
}

h5 {
    color: mediumslateblue;
}

img {
    width: 200px;
}

h2 {
    text-align: left;
    padding-bottom: 2rem;
}


.action-button {
    background-color:mediumslateblue;
    color: white;
    margin-top: 2rem;
    border: none;
    border-radius: 5%;
}

.edit-table {
    height: 50%;
}
 
/* .page-body {
    height: 95vh;
} */

.footer {
    background-color: mediumslateblue;
    color: white;
    height: 5vh;
}

.to-do-list {
    margin: auto;
    width: 1500px;
}
