<!-- templates/habit_new.html -->
{% extends 'base.html' %}

{% block content %}
    <div class = "nav">
        <h1> Habit Log </h1>
    </div>
    

    <form method='POST' action='/habits'>
        <div class="col">
            <h1><label for='habit-name'>New Habit</label><br></h1>
        </div>
        <div class="col">
            <input id='habit-name' type='text' name='name' value='' placeholder="name"/>
        </div>
        <table class="table-bordered mb-3">
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>

            <td>
                <input class="form-check-input" type="checkbox" name='monday' id="monday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='tuesday' id="tuesday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='wednesday' id="wednesday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='thursday' id="thursday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='friday' id="friday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='saturday' id="saturday" value="✅"/>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" name='sunday' id="sunday" value="✅"/>
            </td>
           
        </table>

        <div class="col">
            <p>
                <button type='submit' class="mt-3">Save Habit</button>
            </p>
        </div>
    </form>

{% endblock %}