<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <div class = "nav">
        <h1> Habit Log </h1>
    </div>
    
    <h3> Weekly </h3>

    <table class = table-bordered>
        <tr>
            <th>Habit</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>

        </tr>

        {% for habit in habits %}
            <tr>
                <td style="text-align: center;"><a href='/habits/{{ habit._id }}'>{{ habit.name }}</a></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="monday" value="monday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="tuesday" value="tuesday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="wednesday" value="wednesday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="thursday" value="thursday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="friday" value="friday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="saturday" value="saturday"></td>
                <td style="text-align: center;"><input class="form-check-input" type="checkbox" id="sunday" value="sunday"></td>
                <td>
                    <p>
                        <form method='POST' action='/habits/{{ habit._id }}/delete'>
                            <button type='submit'>Delete</button>
                        </form>
                    </p>
                </td>
                <td>
                    <p><a href='/habits/{{ habit._id }}/edit'><button type='submit'>Edit</button></a></p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="footer">
        <a href='/habits/new'>New Habit</a>
    </div>
{% endblock %}
